---
import { Image } from '@astrojs/image/components';
import profileImage from '@assets/images/stephanie_profile.png';

---

<section
	data-testid="about"
	id="about"
	class="flex flex-col items-center justify-center mb-10 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-black lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-black"></span>
		<Image 
			src={profileImage}
			alt="Stephanie profile"
			aspectRatio="4:4"
			format="png"
			width={600}
			height={600}
			loading="eager"
		/>
	</div>

	<div class="w-full text-justify text-black lg:w-1/2">
		<p>
			Hello! I'm Stephanie Honore, an experienced software engineer with 8 years of industry experience and a Master's in Computer Science. I specialize in frontend development using JavaScript and .NET. While frontend development is my primary expertise, I'm no stranger to the backend world. I have successfully built scalable backends using microservice architecture and deploying to cloud platforms using DevOps. This hands-on experience has given me a comprehensive understanding of full-stack development and the ability to design robust systems that can withstand the test of time.
			I believe in pragmatic and maintainable solutions that don't overcomplicate things. Quality code that scales without unnecessary complexity is my mantra.
			<br><br>
			Beyond software engineering, I'm a cybersecurity enthusiast, staying updated with the latest trends by attending conferences and meetups. I am also volunteering with MVP Taskforce and Skull Games Taskforce as an OSINT Analyst to combat human trafficking. I help with investigating cases and writing intelligence products using structured analysis techniques. I am working on several side hustles to sharpen my entrepreneurial skills. When I'm not coding, you'll find me going to museums, kayaking, camping, painting, and making nerdcore music with AI.
		  </p>
		  
	</div>
</section>
