---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-black lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-black"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p> 
			Welcome to my captivating portfolio website! I'm an experienced and highly skilled full-stack software engineer specializing in unleashing the power 
			of Javascript and .NET web apps and cross-platform mobile apps. With over 7 years of industry experience, I have honed my craft in delivering pragmatic,
			maintainable, and resilient solutions that scale add impactful value to organizations.
			<br/>
			<br/>
			Drawing upon my solid foundation from my Master's in Computer Science with a specialization in Data Science, 
			I bring a unique blend of academic knowledge and practical expertise to every project I undertake. 
			I am fueled by a deep passion for pushing the boundaries of technology, constantly seeking innovative ways
			to solve complex problems and create exceptional software systems.
			<br/>
			<br/>
			Beyond coding, I indulge in painting, learning about international security classes at Harvard Extension School, 
			kayaking, camping, and spending quality time with my dogs Oliver and Indigo . Explore my portfolio to witness my 
			expertise in action. Let's connect and fuel success together.
		</p>
	</div>
</section>
