<section
	data-testid="contact"
	id="contact"
	class="flex flex-col flex-wrap items-center justify-center text-black dark:text-white lg:mb-0 lg:h-screen"
>
<script type="text/javascript" src="https://form.jotform.com/jsform/231720391590150"></script>
</section>
